.categories_wrapper {
  input[type='text'] {
    outline: none; /* Removes the outline (focus ring) */
    border: 1px solid #ccc; /* Sets a visible border */
    padding: 8px;
    border-radius: 4px;

    /* Optional: To remove additional styles like box-shadow, background, etc. */
    box-shadow: none;
    background-color: transparent;

    /* Optional: Style for focused input */
    &:focus {
      border-color: #000000; /* Border color change on focus */
    }
  }
}
.sxaxsa {
  // margin-top: 30px;
  background: white;
}
.categories {
  width: 100%;
  max-width: 800px;
  margin: 15px auto;
  .tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .tab {
      //   flex: 1;
      padding: 10px 22px;
      background-color: gray;
      color: white;
      border: none;
      cursor: pointer;
      font-weight: bold;
      border-radius: 10px;
      font-size: 17px;
      // &:hover {
      //   background-color: #e0e0e0;
      // }

      &.active {
        background-color: rgb(150, 1, 183);

        color: white;
      }
    }
    .tab:nth-child(1){
      // width: 80px !important;
    }
  }

  .content {
    .tab-content {
      // background-color: #fff;
      // padding: 20px;
      //   border: 1px solid #ccc;
      border-radius: 5px;
      //   box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
      font-size: 1.1rem;
    }
  }
}
