.contact {
  padding: 0px 0;
  .contact-list {
    list-style: none;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;

    li {
      a {
        display: block;

        img {
          width: 70px;
          height: 70px;
        }
      }
    }
  }
}
